@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');

:root {
  --primary-color: #144429;
  --secondary-color: #f0a202;
  --accent1-color: #2d334a;
  --accent2-color: #f9dc5c;

  --heading-font: 'Salsa', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;

  --nav-background-color: #144429;
  --nav-link-color: #f9dc5c;
  --nav-hover-link-color: #2d334a;
  --nav-hover-background-color: #f0a202;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--nav-background-color);
}

header img {
  width: 80px;
  height: auto;
  justify-self: end;
  margin: 10px;
  grid-column: 1/2;
}
header nav {
  grid-column: 3/6;
  justify-content: end;
  padding-right: 40px;
}

body {
  font-family: var(--paragraph-font);
  padding: 20px;
}

h1 {
  position: absolute;
  top: 3rem;
  left: 250px;
  color: var(--accent1-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav img {
  height: 35px;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

p {
  padding: 5px 20px;
}

article {
  position: absolute;
  padding: 1rem;
  bottom: 5rem;
  left: 20px;
  display: block;
  width: 70%;
  background-color: var(--accent2-color);
  opacity: 75%;
}

section {
  padding: 15px 0;
}

figcaption {
  padding: 0 15px;
  text-align: center;
}

form {
  max-width: 450px;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  display: grid;
}

fieldset {
  border: 0;
  margin-top: 15px;
  display: grid;
  grid-template-rows: 0.1fr 0.9fr;
  grid-template-columns: 0.1fr 0.9fr 0.1fr 0.9fr 0.1fr 0.9fr;
}

fieldset input,
fieldset label {
  grid-row: 2;
}

label {
  margin: 15px 0 5px;
}

input,
textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
  margin-right: 5px;
}

button {
  margin: 1rem;
  width: 200px;
  justify-self: center;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: var(--primary-color);
}

footer {
  color: var(--nav-link-color);
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--nav-background-color);
}

footer p {
  grid-column: 1/5;
  justify-self: center;
}

footer nav {
  grid-column: 5/6;
}

/* Class Selectors */

.hero {
  position: relative;
}

.banner {
  display: block;
  width: 100%;
  height: auto;
}

.small {
  width: 250px;
  height: auto;
  float: right;
}

.history-box {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 20px auto;
  background-color: var(--accent2-color);
  align-items: center;
}

.history-box h2 {
  grid-column: 1/4;
}

.history-box img {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  min-width: 200px;
  padding: 20px 10px;
}

.adventure-box {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20px auto;
  background-color: var(--accent2-color);
  justify-items: center;
  align-items: start;
}

.adventure-box h2 {
  grid-column: 1/6;
}

.adventure-box img {
  width: 100%;
  /* height: 150px; */
  padding: 20px 5px;
  aspect-ratio: 1;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.contact_us h2 {
  margin-bottom: 30px;
}

.contact_us img {
  width: auto;
  max-height: 560px;
}

.our_people {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 0.1fr 0.9fr;
  justify-items: center;
  text-align: justify;
}

.our_people img {
  height: 150px;
  width: auto;
}

.our_people h2 {
  grid-column: 1/4;
}

.our_place {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 80px auto;
  justify-items: center;
  align-items: center;
  text-align: left;
}

.our_place h2 {
  grid-column: 1/3;
}

.our_place h3 {
  text-align: left;
  padding-left: 20px;
}
.our_place p {
  margin-top: 20px;
}
